<h1>Login app</h1>
<form caction="/users/login" method="post">
  <label for="username">username</label><br />
  <input type="text" name="username" value=""><br /><br />
  <label for="password">password</label><br />
  <input type="password" name="password" value=""><br /><br />
  <input type="submit" vale="login" />
</form>
